* {
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --black: #070707;
    --gray: #b7bcba;
    --gray: #b7bcba;
    --link: blue;
    
  }
  
  body {
    background-color: var(--gray);
    font-family: Helvetica, Arial, sans-serif;
  }

  /*********** HEADER STYLES AND LINKS ***************/
  
  header {
    padding: 40px 55px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--gray);
    text-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    
    text-decoration: underline var(--gray);
    color: var(--gray);
  }
  
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
   
    padding: 10px 15px;
    font-weight: 200;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  header nav ul li a:hover {
   
   background: var(--black);
    color: var(--gray);
    border-radius: 15px;
    text-shadow:none;
  }

  /*********** HEADER STYLES AND LINKS END ***************/


  
  /************** FOOTER STYLES START ******************/

  footer {
    background: var(--black);
    padding: 40px 35px;
    display: flex;
   
    color: var(--gray);
    width: 100%;
  }
  
  footer h2 {
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--primary-color);
  }

  /*************** END FOOTER STYLES *******************/


  
  /*************** HERO ********************************/

  .hero {
    background-image: url('../Assets/Images/fog.jpg');
    background-position: 80%;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    padding: 60px 20px;
    border-radius: 0px;
  }

   /***************  END HERO ***************************/


   
   /*************** SECTION AND P START ****************/


   .steps {
    margin: 50px auto;
    padding-bottom: 30px auto;
    width: 80%;
    background: var(--gray);
    flex: 12;
  }

  .section-title {
    font-size: 33px;
    padding-bottom: 80px;
    padding-top: 150px;
    width: 25%;
    color: var(--black);
    position: relative;
  }
  
  .h2 {
    border-right: 4px solid black;
   
  }

  .step span {
    font-size: 15px;
    position: absolute;
    top: 10%;
    left: 140%;
  }

  .steps p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    display: inline-block;
    top: 10%;
    left: 140%;
    text-align: center;
}


 /*************** SECTION AND P END *******************/



  
 
  
 
  